[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynacl = "*"
python-dotenv = "*"
yt-dlp = "*"
requests = "*"
pycparser = "*"
"discord.py" = "*"
colorama = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.12"
