[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
pytube = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
pydantic = "*"
pip = "*"
install = "*"
python-dotenv = "*"
youtube-search-python = "*"
spotipy = "*"
pynacl = "*"
discord-py-interactions = "*"
"discord.py" = "*"
discord-py-slash-command = "*"

[dev-packages]

[requires]
python_version = "3.11"
