[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
youtube-dl = "*"
youtube-search-python = "*"
pytube = "*"
pynacl = "*"
python-dotenv = "*"
"discord.py" = "*"
flask = "*"
flask-sqlalchemy = "*"
pydantic = "*"
spotipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
